
<script type="text/javascript" charset="utf-8">

$(document).ready(function () {
	
	$('#colorpicker00').farbtastic('color_{{ attrs.id }}');
	
});

</script>


<div id="colorpicker00"></div>
<input type="text" name="{{ name }}" id="color_{{ attrs.id }}" value="{{ value }}" />